<html>
	<h1>Huehue suce des bites</h1>
	<table>
	  <tr>
		<th>Name</th>
		<th>Type</th>
		<th>Price</th>
		<th>Level</th>
	  </tr>
	 
	<% @offers.each do |o| %>
	  <tr>
		<td><%= o["name"] %></td>
		<td><%= o["type"] %></td>
		<td><%= o["price"] %></td>
		<td><%= o["level"] %></td>
	  </tr>
	<% end %>
	</table>
</html>
